<h1 class="mb-1 restaurant-show-title">新增</h1>
<div class="container mt-5"  >
  <form action="/restaurants" method="POST">
  <input type="text" placeholder="輸入餐廳名稱" name="name">
  <button type="submit">Create</button>
  <input type="text" placeholder="輸入餐廳類別" name="category">
  <button type="submit">Create</button>
  <input type="text" placeholder="輸入餐廳圖片連結" name="image">
  <button type="submit">Create</button>
  <input type="text" placeholder="輸入餐廳地址" name="location">
  <button type="submit">Create</button>
  <input type="text" placeholder="輸入餐廳電話" name="phone">
  <button type="submit">Create</button>
  <input type="number" placeholder="餐廳評價(5分為上限)" step="0.1"min="0" max="5"name="rating">
  <button type="submit">Create</button>
  <label for="description">關於這間餐廳的敘述</label>
<textarea id="description" name="description" rows="3" cols="20"></textarea>
   </form>
</div>